/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  box-sizing: content-box;
  margin: 0;
 }
 a {
  text-decoration: none;
 }
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #e7e7e7;
  border: 1px solid grey;
  border-radius: 5px;
}
.container {
  margin-left: 20%;
  margin-right: 20%;
}
/* INDEX part */
.row_articles h2 {
  font-size: xx-large;
  margin-top: 20px;
  margin-bottom: 10px;
}
.row_articles p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
